body{
     margin: 0;
}


/* 전체 */
.content-wrap{
     width:100vw;
     height:100vh;
     background:linear-gradient(120deg,#0272a4,#f6a564);
     
}

/* 앨범 */
.content-wrap .album{
     position:absolute;
     top:47%;
     left:55%;
     transform:translate(-50%,-50%);
     width:600px;
     height:400px;
     opacity:0;
     visibility: hidden;
     transition: all 0.4s ease-out;
     
}
/* 앨범 액티브 */
.content-wrap .album.active{
     left:50%;
     visibility: visible;
     opacity:1;
     
}


/* 앨범 이미지 */
.content-wrap .album .coverimg{
     position:absolute;
     width:400px;
     height:400px;
     box-shadow: 4px 12px 40px 2px rgba(0,0,0,0.4);
}
.content-wrap .album .coverimg img{
     width:inherit;
     height:inherit;
}



/* 디스크 */
.content-wrap .album .disk{
     position: absolute;
     width:392px;
     height:392px;
     border-radius: 50%;
     background: linear-gradient(120deg,black,#333333,black);
     box-shadow: 4px 8px 25px rgba(0,0,0,0.4);
     top:4px;
     left:4px;
     animation: rotateAni 15s ease infinite;
     transition: left 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes rotateAni{
     0%{
          transform:rotate(0deg);
     }
     100%{
          transform:rotate(520deg);
     }
}



/* 앨범 액티브->디스크 */
.content-wrap .album.active .disk{
     left: 192px;
     transition-delay:0.2s;
}

/* 디스크 안에 작은 원 */
.content-wrap .album .disk .small-disk{
     position:absolute;
     top:50%; 
     left:50%;
     transform:translate(-50%,-50%);

     background-color:dodgerblue;
     border-radius:50%;
     width:42%;
     height:42%;
     border:3px dashed beige;
}
.content-wrap .album .disk .small-disk::after{
     position:absolute;
     top:50%;
     left:50%;
     transform:translate(-50%,-50%);
     content:"";
     background-color:#000;
     width:7px;
     height:7px;
     border-radius: 50%;
}
/* 디스크 호버 */
.content-wrap .album:hover .disk{
     left:250px;
     transition-delay:0s;
}



/* 컨트롤러 위치 */
.control-wrap{
     position:fixed;
     bottom:5vh;
     left:50%;
     transform:translate(-50%);
     display:flex;
}

/* 컨트롤러 */
.control-wrap .list{
     position:relative;
     display:flex;
     padding-left:0;
     margin: 10px;
}
.control-wrap .list li:hover{
     background-color:#000;
     transition:background 0.3s;
}


.control-wrap .list li{
     position:relative;
     display:flex;
     width:10px;
     height:10px;
     margin:10px;
     list-style:none;
     background:gray;
     border-radius: 50%;
     cursor:pointer;
     transition:background 0.3s;
}
.control-wrap .list li.active{
     background-color:#000;
}



/* 버튼 */
.control-wrap button{
     width:70px;
     height:35px;
     align-items:center;
     margin-top:7px;
     background-color:#000;
     color:beige;
     border:none;
     outline:none;
     font-size:14px;
     cursor:pointer;
     transition:background 0.2s;
}

.control-wrap button:hover{
     background-color:beige;
     color:#000;
}