:root{
     --text-color:#f0f4f5;
     --background-color:#263343;
     --accent-color:#d49466;
}

body{
     margin:0;
     font-family: 'Poppins', sans-serif;
}
a{
     text-decoration :none;
     color:var(--text-color);
}
.navbar{
     display:flex;
     justify-content:space-around;
     /* justify-content:space-between; */
     /* padding:8px 12px; */
     align-items:center;
     background-color:var(--background-color);


}

.navbar_logo{
     font-size :24px;
     color:var(--text-color);
}
.navbar_logo i{
     color:var(--accent-color);
}

.navbar_menu{
     display:flex;
     list-style :none;
     padding-left:0;

}

.navbar_menu li{
     padding: 8px 12px;
}
.navbar_menu li:hover{
     background-color:var(--accent-color);
     border-radius:4px;
     transition: all 0.5s cubic-bezier(0.425, 0.015, 0.120, 0.770);
}

.navbar_icon{
     display:flex;
     list-style:none;
     font-size:24px;
     color:var(--text-color);
     padding-left:4%;
}

.navbar_icon li{
     padding: 8px 12px;
}

.navbar_burger{
     position:absolute;
     right:16px; top:0;
     
     font-size :24px;
     color:var(--accent-color);
     /* display:none; */
     opacity:0;
}

@media screen and (max-width:768px){
     .navbar{
          flex-direction:column;
          align-items:flex-start;
     }

     .navbar_menu {
          flex-direction: column;
          align-items:center;
          padding:8px 24px;
          width:100%;
          display:none;
     }
     .navbar_menu.active,
     .navbar_icon.active{
          display:flex;
     }

     .navbar_menu li{
          width:50%;
          text-align:center;
     }

     .navbar_icon{
          justify-content:center;
          width:100%;
          display:none;
     }

     .navbar_burger{
          /* display:block; */
          opacity:1;
     }

}
